/* Para a label que contiver o atributo for="mensagem" */
legend, label[for="mensagem"] {
    font-weight: bold;
}

fieldset:nth-child(1) label {
    display: block;
}

input[name="outro-assunto"] {
    display: none;
}

/* pega o input seguinte ao input(radio) com id "Outro", 
    se o input(radio) estiver marcado*/
input[id="outro"]:checked ~ input {
    display: inline;
}

/* toda Label dentro do fieldset, que estiver dentro de outro fieldset na segunda posição */
fieldset:nth-child(2) > fieldset label {
    display: block;
}

/* Primeiro e ultimo fieldset */
fieldset:nth-child(1) input, 
fieldset:nth-last-child(1) textarea {
    width: 100%;
}

input:focus, textarea:focus {
    background-color: rgba(226, 235, 195, 1);
}

/* Caso o pattern do input não seja satisfeito */
input:invalid {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.555);
}

button:hover, button:focus {
    background-color: #8C1D3D;
}

button {
    font-family: sans-serif;
    height: 2.5em;
    width: 10em;
    background-color: #3b8ea5;
    color: white;
    border-radius: 5px;
    margin-left: calc(100% - 10em);
}

label[for="nome"], label[for="email"] {
    position: relative;
}

label[for="nome"]::before, label[for="email"]::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.7);
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
    padding: .7em;
    position: absolute;
    top: calc(100% + 0.2em);
    left: 0em;
}

label[for="email"]::before {
    content: '';
    background-image: url(../media/img/email.png);
}

label[for="nome"]::before {
    content: '';
    background-image: url(../media/img/usuario.png);
 }

/* O Width deve ocupar 100% menos 1.7em do left para posionar a imagem. */
#nome, #email {
    width: calc(100% - 1.7em);
    position: relative;
    left: 1.7em;
}