header {
    padding-top: 1.3rem;
    background-color: #851944;
    text-align: center;
    height: 17rem;
    border-bottom: .5rem solid black;
    position: relative;
    /* Usando gradientes */
    background-image: linear-gradient(to right, lightgreen, rgb(113, 191, 255) 95%, #e7bd4a);
    /* Largura de 80% do tamanho do elemento e 50 pixel de altura */
    background-size: 80% 50px;
    background-position: left center;
    background-repeat: no-repeat;
}
header h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    /* Cor de texto semitransparente */
    color: rgba(245, 238, 158, 0.8);
    text-shadow: 3px 3px #000;
}
.subtitulo-principal {
    text-align: center;
    color: white;
    font-size: 1rem;
    margin-top: .3rem;
}
.foto-home {
    height: 9rem;
    border-radius: 0 10% / 0 50%;
    /* Box-shadow para elemento que não são texto */
    box-shadow: 0 0 1em #000;
}
.saudacao {
    box-sizing: border-box;
    max-width: 100vw;
    margin: 8ch;
}
.saudacao p {
    margin: 0 auto;
    color: #99A;
    line-height: 1;
    width: 80ch;
}
.saudacao-inicio {
    color: #889;
    font-size: 3rem;
    font-family: 'Crimson Text', 'Open Sans Condensed', 'Shadows Into Light';
}
.saudacao-ultima-linha {
    text-align: right;
    display: block;
    margin-bottom: 8ch;
}
.saudacao strong {
    color: #000;
    font-size: 2.5rem;
    font-family: 'Crimson Text', 'Open Sans Condensed', 'Shadows Into Light';
}
.saudacao em {
    color: #851944;
    font-size: 4rem;
    font-family: 'Crimson Text', 'Open Sans Condensed', 'Shadows Into Light';
    display: inline-block;
    /* Rotaciona e cria uma elipse |=| -> /=/ com o elemento */
    transform: rotate(-5deg) skew(-25deg);
}
.botao-index {
    /* Cor semitransparente */
    background-color: rgba(122, 65, 92, 0.3);
    color: #FFF;
    border: .2em solid black;
    width: 40ch;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: .7rem 1.5rem;
}
.secao-inicio h2 {
    text-transform: uppercase;
    text-shadow: 3px 3px #000;
}
.trabalhos {
    background-color: #3C1D3D;
    border-top: 10px solid #000;
    border-bottom: 10px solid #000;
    padding: 5ch;
    /* Efeito de tracejado na diagonal */
    background-image: linear-gradient(135deg, transparent 14px, rgba(0, 0, 0, 0.8) 14px, transparent 15px);
    
    /* O repeat só funciona quando definimos o tamanho do background */
    background-size: 20px 20px;
    background-repeat: repeat;

    /* Efeito de estar com background fixo e os elementos acima dele. */
    background-attachment: fixed;
}
.trabalhos h2 {
    color: #FFF;
    font-size: 2.3rem;
}
.trabalhos ul {
    overflow: hidden;
    border: 10px solid black;
    margin: 2rem 0;
}
.trabalhos li {
    float: left;
    width: 33.333%;
}
.trabalhos img {
    width: 100%;
    display: block;
}
.blog {
    background-color: #999;
    color: #FFF;
    border-bottom: 10px solid #851944;
    padding: 5ch;
    /*Posição que será herdada pelo position absolute dos elementos filhos */
    position: relative;

    background-image: linear-gradient(45deg, transparent 14px, rgba(0, 0, 0, 0.8) 14px, transparent 15px);
    background-repeat: repeat;
    background-size: 20px 20px;
    background-attachment: fixed;
}

.blog h2 {
    margin-bottom: 0px;
    font-size: 3rem;
    font-family: 'Open Sans Condensed', 'Shadows Into Light';
    color: white;
    line-height: 3rem;
}
.blog ol {
    margin: 7ch 0;
}
.blog ol li {
    font-size: 1.2rem;
    margin: 1rem 0;
    font-family: 'Crimson Text', 'Open Sans Condensed', 'Shadows Into Light';
}
.blog li a {
    color: #FCF;
}
footer {
    padding: 3ch 5ch;
    background-color: #000;
    color: #FFF;
}
footer h2 {
    font-size: 3rem;
    font-family: 'Open Sans Condensed', 'Shadows Into Light';
    color: white;
}
footer a {
    color: #F99;
}
main {
    width: 100%;
    padding-bottom: 0;
    float: none;
}

.inicio-post {
    /* Sobrepõem o bloco do blog */
    background-color: white;
    color: black;
    position: absolute;
    top: 8em;
    right: 2.75em;
    height: 10em;
    padding: 1em;
    width: 80%;
}

.palavra-home {
    font-weight: bold;
    font-family: 'Shadows Into Light';
    font-size: 1.2em;
    position: absolute;
    animation: aparecer 2s;
}

@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.rotate-neg {
    transform: rotate(-10deg);
}
.rotate-pos {
    transform: rotate(10deg);
}

.eficiencia {
    top: 25%;
    left: 72%;
    /* Rotaciona o elemento em -10º no eixo X */
    transform: rotate(-10deg);
    /* Muda a transparência do elemento, 0 invisível e 1 visível. */
    opacity: .8;
}
.boas-praticas {
    top: 27%;
    right: 70%;
}
.codigo-limpo {
    top: 5%;
    right: 60%;
}
.css3 {
    top: 5%;
    left: 60%;
}
.javascript {
    top: 43%;
    right: 67%;
}
.html5 {
    top: 43%;
    left: 67%;
}
.acessibilidade {
    top: 18%;
    right: 64%;
}
.responsivo {
    top: 17%;
    left: 63%;
}
.otimizacoes {
    top: 33%;
    right: 60%;
}
.agilidade {
    top: 30%;
    left: 60%;
}
.design {
    top: 5%;
    left: 70%;
}

.adesivo-topo {
    /* Tamanho do elemento */
    width: 15em;
    padding: 1em;
    border: .3em solid black;
    line-height: 1em;
    box-sizing: border-box;

    /* Opções do texto */
    text-decoration: none;
    font-size: 1em;
    color: black;
    background-color: bisque;

    /* Posição e rotação */
    position: absolute;
    top: 0px;
    right: 0px;
    transform-origin: 0 0;
    /*
        padding = 2em; texto = 1em; border = .6em; == 3.6em
    */
    transform: translate(calc(0.707 * calc(3.6em - 100%) + 100%), calc(-0.707 * 3.6em)) rotate(45deg);

    animation: aparecer .5s;
    animation-delay: 2s;
    animation-fill-mode: backwards;
}

body {
    overflow-x: hidden;
}

.modal-teste {
    padding: 2em;
    top: 30%;
    left: 45%;
    position: fixed;
    box-sizing: border-box;
    background-color: #FFF;
    text-align: center;
    font-size: 2em;

    /* Jogo o elemento para frente */
    z-index: 9999;
    /* Efeito de sombra nos elementos atrás dele. */
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);

}

/* Seleciona apenas o ultimo li dentro da sessão de blog */
.blog ol li+li~li{
    padding-bottom: 0;
    margin-bottom: 0;
}

.blog p {
    display: none;
    max-width: 70%;
}

.blog a:hover + .inicio-post,
.blog a:focus + .inicio-post {
    display: block;
}

.blog a:hover, .blog a:focus {
    background-color: white;
    color: black;
}

.saudacao em {
    animation: flutuar 1s infinite;
    animation-direction: alternate;/* Suaviza o efeito */
    animation-timing-function: ease-in-out;
    position: relative;
}

.saudacao em:hover {
    animation-play-state: paused;
}

@keyframes flutuar {
    from {
        top: -5px;
    }
    to {
        top: 5px;
    }
}