/* 

Cores

#2d728f //Azul escuro
#3b8ea5 //Azul claro
#f5ee9e //Quase amarelo
#f49e4c //laranja
#ab3428 //vermelho claro

*/

/* o seletor é o nome "referência" por ex: h1*/
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #f5ee9e;
    color: #2d728f;

    /*Aumenta o espaçamento entre as linhas, melhorando a legibilidade*/
    line-height: 1.7;
}


main h1 {
    font-size: 52px;
    background-color: #3b8ea5;
    color: #f5ee9e;
    text-align: center;
    padding: 50px;
    border-bottom: 10px solid #2d728f;
}

h1, h2 {
    font-weight: bold;
}

h2 {
    margin-top: 30px;
    font-size: 28px;
    color: #3b8ea5;
}


p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*Bloco de citação*/
blockquote {
    background-color: #f49e4c;
    color: #2d728f;
    padding: 15px;
    border-bottom: 10px solid #3b8ea5;
    width: 250px;
    margin: 0px;
    border-radius: 5px;

    /*O Width afeta o tamanho total do elemento*/
    box-sizing: border-box;
}


/*Tags*/
article footer {
    background-color: #2d728f;
    color: #f5ee9e;
    text-align: unset;
    padding: unset;
}


/*Rodapé*/
footer {
    background-color: #2d728f;
    color: #f5ee9e;
    text-align: center;
    padding: 20px;
}


/*Tags*/
main footer a {
    color: #f5ee9e;
}


/*Nome barra de navegação*/
aside h1 {
    font-size: 24px;
    /* margin-bottom: 25px; */
    padding: 20px;
}

/*Barra de navegação*/
aside nav {
    background-color: #f49e4c;
    color: #2d728f;
    text-align: center;
    padding-bottom: 20px;
}


/*div com todo conteúdo*/
main div {
    width: 720px;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 0;
}


strong {
    font-weight: bold;
}

cite {
    font-style: italic;
}