/* 

Cores

#2d728f //Azul escuro
#3b8ea5 //Azul claro
#f5ee9e //Quase amarelo
#f49e4c //laranja
#ab3428 //vermelho claro

*/

/* o seletor é o nome "referência" por ex: h1*/
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #f5ee9e;
    color: #2d728f;
    margin: 0px;

    /*Aumenta o espaçamento entre as linhas, melhorando a legibilidade*/
    line-height: 1.7;
}


main h1 {
    font-size: 42px;
    background-color: #3b8ea5;
    color: #f5ee9e;
    text-align: center;
    padding: 50px;
    margin: 0px;
    border-bottom: 10px solid #2d728f;
}


h2 {
    font-size: 28px;
    color: #3b8ea5;
}


p {
    text-align: justify;
}


/*Bloco de citação*/
blockquote {
    background-color: #f49e4c;
    color: #2d728f;
    padding: 15px;
    border-bottom: 10px solid #3b8ea5;
    width: 250px;
    margin: 0px;
    border-radius: 5px;

    /*O Width afeta o tamanho total do elemento*/
    box-sizing: border-box;
}


/*Tags*/
article footer {
    background-color: #2d728f;
    color: #f5ee9e;
    text-align: unset;
    padding: unset;
}


/*Rodapé*/
footer {
    background-color: #2d728f;
    color: #f5ee9e;
    text-align: center;
    padding: 20px;
}


/*Tags*/
main footer a {
    color: #f5ee9e;
}


/*Barra de navegação*/
aside nav, ul {
    background-color: #f49e4c;
    color: #2d728f;
    text-align: center;

    /*Remove os círculos da lista*/
    list-style: none;
    padding: unset;
}


/*div com todo conteúdo*/
main div {
    width: 720px;
    box-sizing: border-box;
    margin: auto;
}