/* 

Cores

#2d728f //Azul escuro
#3b8ea5 //Azul claro
#f5ee9e //Quase amarelo
#f49e4c //laranja
#ab3428 //vermelho claro

*/

/* o seletor é o nome "referência" por ex: h1*/
body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #f5ee9e;
    color: #2d728f;

    /*Aumenta o espaçamento entre as linhas, melhorando a legibilidade*/
    line-height: 1.7;
}


.titulo-pagina {
    font-size: 52px;
    background-color: #3b8ea5;
    color: #f5ee9e;
    text-align: center;
    padding: 50px;
    border-bottom: 10px solid #2d728f;

    /*Aparece tudo em maiúsculo e não afeta os leitores de tela*/
    text-transform: uppercase;
}


h1, h2 {
    font-weight: bold;
}


h2 {
    margin-top: 30px;
    font-size: 28px;
    color: #3b8ea5;
}


p {
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}


/*Bloco de citação*/
.citacao {
    background-color: #f49e4c;
    color: #2d728f;
    padding: 15px;
    border-bottom: 10px solid #3b8ea5;
    width: 250px;
    margin: 0px;
    border-radius: 5px;

    /*O Width afeta o tamanho total do elemento*/
    box-sizing: border-box;
}


/*Tags*/
footer {
    background-color: #3b8ea5;
    color: #fff589;
    text-align: unset;
    padding-left: 5px;
}


/*Rodapé da página1*/
.rodape-pagina {
    background-color: #2d728f;
    color: #f5ee9e;
    text-align: center;
    padding: 20px;
}


/* Tags*/
.footer-tags a{
    color: #f5ee9e;
}


/*Nome barra de navegação*/
.titulo-navegacao {
    font-size: 24px;
    padding: 20px;
    text-transform: uppercase;
}


/*Barra de navegação*/
aside {
    background-color: #f49e4c;
    color: #2d728f;
    text-align: center;
    padding-bottom: 20px;
}


.icones-sociais li {
    display: inline-block;
}


/*Coloca a imagem com css*/
.icones-sociais a {
    /*Para permitir aplicar o width e height*/
    display: block;

    width: 40px;
    height: 40px;

    /*image replacement 0.o */
    text-indent: -9999px;
}


.github {
    background-image: url(github.png);
}


.twitter {
    background-image: url(twitter.png);
}


.linkedin {
    background-image: url(linkedin.png);
}


/*div com todo conteúdo*/
.conteudo {
    width: 720px;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 0;
}


strong {
    font-weight: bold;
}


cite {
    font-style: italic;
}


.leia-mais {
    text-align: center;
    margin: auto;
    display: block;
    color: #3b8ea5;
    font-weight: bold;
    text-decoration: none;
}