/* div com o conteúdo da página */
.conteudo {
    padding-bottom: 800px;
}


/* bloco de imagem e texto */
figure {
    border: 5px solid #3b8ea5;
    border-radius: 5px;
    width: 310px;
    box-sizing: border-box;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
}


/* texto do bloco */
figcaption {
    width: 90%;
    margin: auto;
}


.img-portfolio {
    width: 100%;
    box-sizing: border-box;
}

.img-1 {
    /*
    No eixo X(Horizontal) considere 10% do tamanho,
    No eixo Y(Vertical) considere o arredondamento de 50%
    rx => 10 10 10 10
    ry => 50 50 50 50
    */
    border-radius: 10% / 50%;
}