/* bloco de imagem e texto */
figure {
    border: 5px solid #3b8ea5;
    border-radius: 5px;
    box-sizing: border-box;
    margin-right: 15px;
    margin-bottom: 15px;
    /* Sombra uniforme */
    box-shadow: 0 0 1em black;
}


/* texto do bloco */
figcaption {
    width: 90%;
    margin: auto;
}


.img-portfolio {
    width: 100%;
    box-sizing: border-box;
}

.img-1 {
    /*
    No eixo X(Horizontal) considere 10% do tamanho,
    No eixo Y(Vertical) considere o arredondamento de 50%
    rx => 10 10 10 10
    ry => 50 50 50 50
    */
    border-radius: 10% / 50%;
}

/* Exercício */
.img-2 {
    border: 3px solid black;
    width: 100%;
    box-shadow: 0 0 0 3px #3b8ea5, 
                0 0 0 6px black, 
                0 0 0 9px #3b8ea5, 
                0 0 0 12px black;
}

/* Flexbox */
.conteudo {
    display: flex;
    flex-wrap: wrap;
}

.conteudo figure {
    /* flex: 1 1 45%; */
    
    /* Fator de crescimento em comparação aos outros itens flex*/
    flex-grow: 1;
    /* Fator de diminuição em comparação aos outros itens flex */
    flex-shrink: 1;
    /* largura do elemento */
    flex-basis: 45%;
}

figure:first-child {
    flex-basis: 100%;
}