
/* Nome do autor da citação */
cite {
    font-style: italic;
}


/* Bloco de citação */
.citacao {
    background-color: #f49e4c;
    color: #2d728f;
    padding: 15px;
    border-bottom: 10px solid #3b8ea5;
    /*
        A unidade ch é calculada com base na largura do caractere,
        neste caso, temos como tamanho total 45 caracteres de largura.
        Se o size da fonte do navegador for alterado o CH continua funcionando.
    */
    width: 45ch;
    margin: 0px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;

    /* O Width afeta o tamanho total do elemento */
    box-sizing: border-box;
}


/* Pega todos os blockquote ímpar e adiciona o css */
blockquote:nth-of-type(odd) {
    float: right;
    margin-left: 20px;
}

/* Pega todos os blockquote pares e adiciona o css */
blockquote:nth-of-type(even) {
    float: left;
    margin-right: 20px;
}

blockquote:hover, blockquote:focus {
    transform: scale(1.2);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}

blockquote:nth-of-type(odd):hover, blockquote:nth-of-type(odd):focus {
    transform: rotate(10deg);
}

blockquote:nth-of-type(even):hover, blockquote:nth-of-type(even):focus {
    transform: rotate(-10deg);
}