
/* Nome do autor da citação */
cite {
    font-style: italic;
}


/* Bloco de citação */
.citacao {
    background-color: #f49e4c;
    color: #2d728f;
    padding: 15px;
    border-bottom: 10px solid #3b8ea5;
    /*
        A unidade ch é calculada com base na largura do caractere,
        neste caso, temos como tamanho total 45 caracteres de largura.
        Se o size da fonte do navegador for alterado o CH continua funcionando.
    */
    width: 45ch;
    margin: 0px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;

    /* O Width afeta o tamanho total do elemento */
    box-sizing: border-box;
}


/* Pega todos os blockquote ímpar e adiciona o css */
blockquote:nth-of-type(odd) {
    float: right;
    margin-left: 20px;
}

/* Pega todos os blockquote pares e adiciona o css */
blockquote:nth-of-type(even) {
    float: left;
    margin-right: 20px;
}

blockquote:hover, blockquote:focus {
    transform: scale(1.2);
    box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.8);
}

blockquote:nth-of-type(odd):hover, blockquote:nth-of-type(odd):focus {
    transform: rotate(10deg);
}

blockquote:nth-of-type(even):hover, blockquote:nth-of-type(even):focus {
    transform: rotate(-10deg);
}

/* Primeira lentra do elemento */
.conteudo p::first-letter {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

blockquote {
    position: relative;
}

/* Pega o pseudoelemento before do blockquote */
blockquote::before {
    content: '"';
    position: absolute;
    color: #bbb;
    top: 4em;
    left: 3em;
    transform: scale(10);
}

table {
    /* Por padrão duas bordas, uma ao lado da outra, gera o feito de callapse(união) */
    border-collapse: separate;
    border-spacing: 0.25em;
}

table th, table td {
    padding: 1em;
}

thead th, tbody th {
    color: white;
    font-weight: bold;
}

thead th {
    background-color: #2d728f;
}

tbody th {
    background-color: #3C1D3D;
}

tbody td {
    background-color: #f49e4c;
}

tr td[colspan="2"] {
    text-align: center;
    vertical-align: middle;
    font-style: italic;
}